.btn {
    position: relative;
    color: #aee0fd;
    &:hover {
        background-color: rgba(94, 160, 206, 0.3);
    }

    &:hover .dropdown_modal {
        display: block;
    }

    .dropdown_modal {
        background-color: #001e3c;
        border-radius: 5px;
        position: absolute;
        top: 36.5px;
        width: 200px;
        display: none;
        z-index: 2;
        ul {
            padding: 10px 8px;
            margin: auto;
            list-style: none;
            text-align: center;
            li {
                a {
                    text-decoration: none;
                    color: #aee0fd;
                    &:hover {
                        text-decoration: underline;
                    }
                    &:active {
                        color: white;
                    }
                }
                padding: 5px;
                &:hover {
                    transition: 0.5s;
                    background-color: rgba(94, 160, 206, 0.3);
                    border-radius: 5px;
                }
            }
        }
    }
}

.favorite-page {
    text-decoration: none;
    color: #aee0fd;

    &:active {
        color: white;
    }
}

.btn_сonsultation {
    margin-left: 30px;
}

.slide {
    margin: 15px 0;
    width: 100%;
    border: solid #fff 1px;
    display: flex;

    .picture_slide {
        background-color: black;
        width: 70%;
        height: 500px;
        margin: 5px;
        border: solid #fff 1px;
    }
    .text_slide {
        margin: 5px;
        border: solid #fff 1px;
        width: 20%;
    }

    .left_btn,
    .right_btn {
        width: 5%;
        margin: 5px;
        font-size: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
