.btn {
    color: #88bcda;
}

.btn_сonsultation {
    margin-left: 30px;
}

.slide {
    margin: 15px 0;
    width: 100%;
    border: solid #fff 1px;
    display: flex;

    .picture_slide {
        background-color: black;
        width: 70%;
        height: 500px;
        margin: 5px;
        border: solid #fff 1px;
    }
    .text_slide {
        margin: 5px;
        border: solid #fff 1px;
        width: 20%;
    }

    .left_btn,
    .right_btn {
        width: 5%;
        margin: 5px;
        font-size: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
