main {
    padding-top: 5px;
    background-color: #001e3c;
    color: white;

    p {
        font-size: 20px;
    }
    h3 {
        font-size: 30px;
    }
    .container_about {
        margin: auto 15px;
    }

    .section_about_clinic {
        padding-top: 80px;
        padding-bottom: 70px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        article {
            width: 80%;
        }
        .about_video {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 60%;
        }
    }

    .call_back {
        padding: 10px 0;
    }

    .call-back-form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
    }

    .call-back-btn {
        margin: 0 15px;
        width: 30%;
    }

    .container_inner_about {
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .cart-about {
            height: 100%;
            min-width: 26%;

            h2 {
                margin: auto;
            }

            img {
                width: 340px;
                height: 170px;
            }
        }
    }

    .cart_text_bg {
        background-color: #aee0fd;
    }
}
