main {
    padding-top: 5px;
    background-color: #001e3c;

    .section_about_clinic {
        padding-top: 80px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .container_about {
            color: white;
            display: block;
            h3 {
                font-size: 20px;
            }
        }
        .about_video {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 60%;
            .content_video {
                border-bottom-left-radius: 80px 80px;
            }
        }
    }
}
